@import url('https://fonts.googleapis.com/css?family=Raleway|Work+Sans:300');

.Contact {
    background-color: peachpuff;
    padding: 50px 0;
}

.Contact h4 {
    width: 75vw;
    text-align: center;
    margin: 0 auto;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    color: rgb(48, 0, 94)
}

.Contact h4 a {
    color: rgb(0, 189, 72)
}