@import url('https://fonts.googleapis.com/css?family=Raleway|Work+Sans:200');

.Jumbotron {
    background-image: url(../Assets/fuji.jpg);
    background-size: cover;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.JumbotronContent {
    padding-bottom: 21vh;
}

.JumbotronContent h1 {
    font-family: 'Raleway', sans-serif;
    color: rgb(133, 41, 219);
    font-size: 6rem;
    margin: 0;
    padding-bottom: 20px;
    text-align: center;
}

.JumbotronContent h4 {
    font-family: 'Work Sans', sans-serif;
    color: rgb(133, 41, 219);
    font-size: 4rem;
    font-weight: 200;
    margin: 0;
    text-align: center;
}
