@import url('https://fonts.googleapis.com/css?family=Raleway|Work+Sans:200');

.PortfolioContainer {
    font-family: 'Raleway', serif;
    background-color: rgb(138, 79, 187);
}

.PortfolioContainer h1 {
    font-family: 'Raleway', serif;
    font-size: 4rem;
    color: peachpuff;
    text-align: center;
    margin: 0 auto;
    padding: 50px 0;
}